.App {
  text-align: center;
}

.review-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.review-content {
  width: 27%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid gray;
  padding-bottom: .75rem;
  margin-bottom: .75rem;
}

.review-content p {
  margin: 0;
}

.review-content h4 {
  margin: .5rem;
}